#Ignore all first
*
#Then files we need to follow will be listed here
!.gitignore
!.github/*
!CFSession
!CFSession/*
!test
!test/*
!stubs
!stubs/*
!stubs/CFSession/*
!LICENSE
!README.md
!pyproject.toml
!requirements.txt
!tester.py